@model dotnet_g36.Models.ViewModels.MeldAanwezigViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager

@{ViewData["Title"] = "Aanwezigheid Registreren";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <br />
    <h1>Aanwezigheid Registreren voor @Model.Titel</h1><br />
    <div class="row">
        <div class="col-md-4">
            <h5>Gelieve uw studentenkaart te scannen of uw e-mail in te geven.</h5><br />
            <form method="post" asp-controller="MeldAanwezig" asp-action="MeldAanwezig" >
                <input type="text" class="form-control" asp-for="Barcode"><br />
                <button class="btn btn-secondary ml-1">Voeg toe</button>
            </form><br />
            <form method="post"  asp-controller="SessieOpenzetten" asp-action="Sluiten" asp-route-id="@Model.SessieID">
                <button class="btn btn-secondary ml-1">Sluit Sessie</button>
            </form><br />
            <br /><br />
        </div>

        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <th class="text-center">Lijst aanwezigen</th>
                </tr>
                @if (Model.Aanwezigen.Count == 0)
                {
                    <tr>
                        <td class="text-center">Nog niemand is aanwezig.</td>
                    </tr>
                }
                else
                {
                    @foreach (var aanwezigen in Model.Aanwezigen)
                    {
                        <tr>
                            <td class="text-center">@aanwezigen</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning">@TempData["error"]</div>
            }
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
        </main>
    </div>
</body>
</html>
