@model dotnet_g36.Models.ViewModels.SessieDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager
@{
    ViewData["Title"] = "Sessie Details";
}

@*SOURCE OPMAAK: https://getbootstrap.com/docs/4.4/utilities/spacing/*@
@*SOURCE BUTTON EN FEEDBACK GEVEN: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.1#the-textarea-tag-helper*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container position-absolute">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning">@TempData["error"]</div>
            }
        </main>
    </div>

    <h3 class="text-center">@Model.Titel</h3>
    <br />
    <div class="container text-left">
        <div class="row">
            <div class="row col-md-3 display-fixed">
                <div class="col-md-12 p-3 border bg-light">
                    <h6 class="col-12">Verantwoordelijke</h6>
                    <p class="col-12">@Model.NaamVerantwoordelijke</p>
                </div>
                <div class="col-md-12 row p-3 border bg-light">
                    <h6 class="col-md-7">Lokaal</h6>
                    <div class="col-md-12 col-lg-5"> @Model.Lokaal</div>
                </div>

                @*OPEN PLAATSEN OF AANTAL AANWEZIGEN WEERGEVEN*@
                @if (Model.StartDatum >= DateTime.Now && !(Model.Gesloten))
                {//HEDEN
                    <br />
                    <div class="col-md-12 row p-3 border bg-light">
                        <h6 class="col-md-7">Aantal Personen</h6>
                        <div class="col-md-12 col-lg-5">@Model.OpenPlaatsen / @Model.Capaciteit</div>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {<br />
                        <div class="col-md-12 row p-3 border bg-light">
                            <h6 class="col-md-7">Ingeschreven</h6>
                            @if (Model.DeelnemerIngeschreven.Equals(true))
                            {
                                <div class="col-md-12 col-lg-5">Ja</div>
                            }
                            else
                            {
                                <div class="col-md-12 col-lg-5">--</div>
                            }
                        </div>
                    }
                }
                else//VERLEDEN
                { <br />
                    <div class="col-md-12 row p-3 border bg-light">
                        <h6 class="col-md-7">Aantal aanwezigen</h6>
                        <div class="col-md-12 col-lg-5">@Model.AantalAanwezigen</div>
                    </div>

                    @if (SignInManager.IsSignedIn(User))
                    {<br />
                        <div class="col-md-12 row p-3 border bg-light">
                            <h6 class="col-md-7">Aanwezig</h6>
                            @if (Model.DeelnemerAanwezig.Equals(true))
                            {
                                <div class="col-md-12 col-lg-5">Ja</div>
                            }
                            else
                            {
                                <div class="col-md-12 col-lg-5">--</div>
                            }
                        </div>
                    }

                }

            </div>
            <div class="row col-md-9">
                <div class="col-md-12">
                    <div class="row p-3 border bg-light">@Model.Beschrijving</div>
                </div>

                <div class="col-md-12">
                    <div class="row p-3 border bg-light text-center">
                        <h6 class="col-md-4">Datum en uur</h6>
                        <div class="col-md-4">@Model.StartDatum.ToString("dd/MM/yyyy")</div>
                        <p class="col-md-4">@Model.StartDatum.ToString("HH:mm") tot @Model.EindDatum.ToString("HH:mm")</p>
                    </div>
                </div>
                <div class="col-md-12">
                    @if (Model.ListMedia.Count() != 0)
                    {<br />
                        <h6 class="text-center">Media</h6>
                        <br />
                        <div>
                            <table class="table">
                                <tr class="bg-primary text-left text-light">
                                    <th>Titel</th>
                                    <th>Omschrijving</th>
                                </tr>
                                <!-- loop die door de lijst van Media gaat -->
                                @foreach (var media in Model.ListMedia)
                                {
                                    <tr>
                                        <td class="text-left"><a href="@media.Link" target="_blank">@media.Titel</a></td>
                                        <td class="text-left">@media.Beschrijving</td>
                                    </tr>
                                }

                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container col-md-12 text-left">
        @*BUTTON INSCHRIJVEN / FEEDBACK INDIENDEN*@
        @if (Model.StartDatum > DateTime.Now && !(Model.Gesloten))
        {
            <div class="col-md-12">
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (!Model.DeelnemerIngeschreven)
                    {<form asp-controller="InschrijvenUitschrijven" asp-action="DetailInschrijvenUitschrijven" asp-route-id="@Model.SessieID" method="post">
                            <br />
                            <button type="submit" class="btn bg-primary text-light">Inschrijven</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="InschrijvenUitschrijven" asp-action="DetailInschrijvenUitschrijven" asp-route-id="@Model.SessieID" method="post">
                            <br />
                            <button type="submit" class="btn bg-primary text-light">Uitschrijven</button>
                        </form>
                    }
                }
                else
                {
                    <form asp-area="Identity" asp-page="/Account/Login">
                        <br />
                        <button type="submit" class="btn bg-primary text-light">Inschrijven</button>
                    </form>
                }
            </div>
        }
        else
        {
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="container col-md-10 text-center">
                    <br />
                    <h6 class="text-left">Feedback</h6>
                    <br />
                    <form asp-controller="Feedback" asp-action="DetailFeedbackGeven" asp-route-id="@Model.SessieID" method="post">
                        <div class="form-group text-left">

                            @*<div>
                                    @for (int i = 0; i < 5; i++)
                                    {
                                    <span class="iconify" data-icon="bytesize:star" data-inline="false" style="width: 30px; height: 30px; color:gold"></span>}

                                    <span class="iconify" data-icon="el:star" data-inline="false" style="width: 30px; height: 30px; color:gold;" ></span>
                                      <-- volle ster

                                </div>*@
                            <div class="row">
                                <label class="align-bottom">Score &nbsp;</label>
                                <select style="width: 80px;" asp-for="Score" asp-items="@ViewData["scores"] as SelectList" class="form-control"></select>
                                <span asp-validation-for="Score" class="text-danger"></span>
                            </div>
                            <br />
                            <textarea asp-for="FeedbackContent" asp-validation-for="FeedbackContent" class="form-control rounded-0" rows="3" style="resize:none"></textarea>
                            <br>
                            <span asp-validation-for="FeedbackContent" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn bg-primary text-light">Indienen</button>
                    </form>

                    @if (Model.FeedbackList.Count() != 0)
                    {
                        <div>
                            <br />
                            <table class="table">
                                <tr class="bg-primary text-light">
                                    <th class="text-center">Datum</th>
                                    <th class="text-center">Auteur</th>
                                    <th class="text-center">Score</th>
                                    <th class="text-center col-md-6">Feedback</th>
                                </tr>
                                <!-- loop die door de lijst van Feedback ga10at -->
                                @foreach (var feedback in Model.FeedbackList)
                                {
                                    <tr>
                                        <td class="text-center">@feedback.TimeWritten.ToString("dd/MM/yyyy H:mm")</td>
                                        <td class="text-center">@feedback.Auteur.GeefVolledigeNaam()</td>
                                        <td class="text-center">@feedback.Score/5</td>
                                        <td class="text-center">@feedback.Tekst</td>
                                    </tr>
                                }

                            </table>
                        </div>
                    }
                </div>
            }
        }
    </div>
    <br />
</body>
</html>
