@model dotnet_g36.Models.ViewModels.SessieDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager
@{
    ViewData["Title"] = "Sessie Details";
}

@*SOURCE OPMAAK: https://getbootstrap.com/docs/4.4/utilities/spacing/*@
@*SOURCE BUTTON EN FEEDBACK GEVEN: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.1#the-textarea-tag-helper*@
<!DOCTYPE html>

<html>
<head>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning">@TempData["error"]</div>
            }
        </main>
    </div>

    <h3>@Model.Titel</h3>
    <br />
    <div class="col px-md-5"><div class="p-3 border bg-light">@Model.Beschrijving</div></div>
    <br />
    <h6>Verantwoordelijke</h6>
    <br />
    <div class="col px-md-5"><div class="p-3 border bg-light">@Model.NaamVerantwoordelijke</div></div>
    <br />
    <h6>Datum en uur</h6>
    <div class="row mx-md-n5">
        <div class="col px-md-5"><div class="p-3 border bg-light">@Model.StartDatum.ToString("dd/MM/yyyy H:mm")</div></div>
        <div class="col px-md-5"><div class="p-3 border bg-light">@Model.EindDatum.ToString("dd/MM/yyyy H:mm")</div></div>
    </div>

    <br />
    <h6>Lokaal</h6>
    <div class="col px-md-5"><div class="p-3 border bg-light"> @Model.Lokaal</div></div>


    @*OPEN PLAATSEN OF AANTAL AANWEZIGEN WEERGEVEN*@
    @if (Model.StartDatum >= DateTime.Now && !(Model.Gesloten))
    {//HEDEN
        <br />
        <h6>Aantal Personen</h6>
        <div class="col px-md-5"><div class="p-3 border bg-light"> @Model.OpenPlaatsen / @Model.Capaciteit </div></div>

        @if (SignInManager.IsSignedIn(User))
        {<br />
            <h6>Ingeschreven</h6>
            @if (Model.DeelnemerIngeschreven.Equals(true))
            {
                <div class="col px-md-5">
                    <div class="p-3 border bg-light">Ja</div>
                </div>
            }
            else
            {
                <div class="col px-md-5">
                    <div class="p-3 border bg-light">--</div>
                </div>
            }
        }
    }
    else//VERLEDEN
    { <br />
        <h6>Aantal aanwezigen</h6>
        <div class="col px-md-5"><div class="p-3 border bg-light">@Model.AantalAanwezigen</div></div>

        @if (SignInManager.IsSignedIn(User))
        {<br />
            <h6>Aanwezig</h6>
            @if (Model.DeelnemerAanwezig.Equals(true))
            {
                <div class="col px-md-5">
                    <div class="p-3 border bg-light">Ja</div>
                </div>
            }
            else
            {
                <div class="col px-md-5">
                    <div class="p-3 border bg-light">--</div>
                </div>
            }
        }
    }

    @if (Model.ListMedia.Count() != 0)
    {<br />
        <h6>Media</h6>
        <div>
            <table class="table table-striped">
                <tr>
                    <th class="text-center">Titel</th>
                    <th class="text-center">Omschrijving</th>
                </tr>
                <!-- loop die door de lijst van Media gaat -->
                @foreach (var media in Model.ListMedia)
                {
                    <tr>
                        <td class="text-center"><a href="@media.Link" target="_blank">@media.Titel</a></td>
                        <td class="text-center">@media.Beschrijving</td>
                    </tr>
                }

            </table>
        </div>
    }



    @*BUTTON INSCHRIJVEN / FEEDBACK INDIENDEN*@
    @if (Model.StartDatum > DateTime.Now && !(Model.Gesloten))
    {
        @if (SignInManager.IsSignedIn(User))
        {
            @if (!Model.DeelnemerIngeschreven)
            {<form asp-controller="InschrijvenUitschrijven" asp-action="DetailInschrijvenUitschrijven" asp-route-id="@Model.sessieID" method="post">
                    <br />
                    <button type="submit">Inschrijven</button>
                </form>
            }
            else
            {
                <form asp-controller="InschrijvenUitschrijven" asp-action="DetailInschrijvenUitschrijven" asp-route-id="@Model.sessieID" method="post">
                    <br />
                    <button type="submit">Uitschrijven</button>
                </form>
            }
        }
        else
        {
            <form asp-area="Identity" asp-page="/Account/Login">
                <br />
                <button type="submit">Inschrijven</button>
            </form>
        }
    }
    else
    {
        <br />
        <h6>Feedback</h6>
        <form asp-controller="Feedback" asp-action="DetailFeedbackGeven" asp-route-id="@Model.sessieID" method="post">
            <div class="form-group">
                <div>
                    @for (int i = 0; i < 5; i++)
                    {
                    <span class="iconify" data-icon="bytesize:star" data-inline="false" style="width: 30px; height: 30px; color:gold"></span>}

                    @*<span class="iconify" data-icon="el:star" data-inline="false" style="width: 30px; height: 30px; color:gold;" ></span>
                      <-- volle ster
                    *@
                </div>

                <br />
                <textarea asp-for="FeedbackContent" asp-validation-for="FeedbackContent" class="form-control rounded-0" rows="3" style="resize:none"></textarea>
                @*<textarea asp-for="FeedbackContent" class="form-control rounded-0" id="FeedbackContent" rows="3"></textarea>*@
                <br>
            </div>
            <button type="submit">Indienen</button>
        </form>



        @if (Model.FeedbackList.Count() != 0)
        {
            <div>
                <br />
                <table class="table table-striped">
                    <tr>
                        <th class="text-center">Auteur</th>
                        <th class="text-center">Feedback</th>
                        <th class="text-center">Datum</th>
                    </tr>
                    <!-- loop die door de lijst van Feedback gaat -->
                    @foreach (var feedback in Model.FeedbackList)
                    {
                        <tr>
                            <td class="text-center">@feedback.Auteur.GeefVolledigeNaam()</td>
                            <td class="text-center">@feedback.Tekst</td>
                            <td class="text-center">@feedback.TimeWritten.ToString("dd/MM/yyyy H:mm")</td>
                        </tr>
                    }

                </table>
            </div>
        }
    }
    @*}
        else
        {
        <div class="col px-md-5">
            <div class="p-3 text-danger">Om je in te schrijven voor deze sessie of feedback te kunnen geven, zal je je moeten inloggen.</div>
        </div>

        }*@
</body>
</html>
