@model IEnumerable<dotnet_g36.Models.Domain.Sessie>

@{ ViewData["Title"] = "Sessiekalender"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning">@TempData["error"]</div>
            }
        </main>
    </div>
    <!--Dropdown voor keuze van maand-->
    @*<form asp-controller="Sessie" asp-action="Index" method="post">
            <label for="maandId"></label>
            <select id="maandId" name="maandId" asp-items=@(ViewData["maanden"] as SelectList) class="form-control">
            </select>
        </form>*@

    <form>
        <div class="form-inline">
            <div class="form-group">
                <label for="maandId"></label>
                <select id="maandId" name="maandId" asp-items="@(ViewData["maanden"] as SelectList)" class="form-control">
                    <option value="">-- huidige maand --</option>
                </select>
            </div>
            <button type="submit" class="btn btn-secondary ml-1">Ingeven</button>
        </div>
    </form>

    <h4>Geplande sessie</h4>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Gastspreker</th>
            <th class="text-center">Titel</th>
            <th class="text-center">Startdatum @($"&") uur</th>
            <th class="text-center">Open plaatsen</th>
            <th class="text-center">Ingeschreven</th>
        </tr>
        <!-- loop die door de lijst van sessies gaat -->
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Gastspreker</td>
                <td class="text-center">@item.Titel</td>
                <td class="text-center">@item.StartDatum.ToShortDateString() @item.StartDatum.ToShortTimeString()</td>
                <td class="text-center">@item.AantalOpenPlaatsen</td>
                <td class="text-center">..</td>
            </tr>
        }
    </table>

    <h4>Afgelopen sessie</h4>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Gastspreker</th>
            <th class="text-center">Titel</th>
            <th class="text-center">Startdatum @($"&") uur</th>
        </tr>
        <!-- loop die door de lijst van sessies gaat -->
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Gastspreker</td>
                <td class="text-center">@item.Titel</td>
                <td class="text-center">@item.StartDatum.ToShortDateString() @item.StartDatum.ToShortTimeString() </td>
            </tr>
        }
    </table>


</body>
</html>
