@model dotnet_g36.Models.ViewModels.SessieKalenderViewModel

@using Microsoft.AspNetCore.Identity
@using dotnet_g36.Models.Domain
@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager
@inject IUserRepository  UserRepository

@{ViewData["Title"] = "Sessiekalender";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning">@TempData["error"]</div>
            }
        </main>
    </div>
    <!--Dropdown voor keuze van maand-->

    <form>
        <div class="form-inline">
            <div class="form-group">
                <label for="maandId"></label>
                <select onchange="this.form.submit()" id="maandId" name="maandId" asp-items="@Model.Maanden" class="form-control">
                </select>
            </div>
        </div>
    </form>

    <h4>Geplande sessies</h4>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Gastspreker</th>
            <th class="text-center">Titel</th>
            <th class="text-center">Startdatum @($"&") uur</th>
            <th class="text-center">Open plaatsen</th>
            <th class="text-center">Ingeschreven?</th>
            <th class="text-center">Details</th>
        </tr>
        <!-- loop die door de lijst van sessies gaat -->
        @for (int i = 0; i < Model.SessieIds.Count(); i++)
        {
            @if (Model.StartDatums.ElementAt(i) >= DateTime.Now)
            {
                <tr>
                    <td class="text-center">@Model.GastSprekers.ElementAt(i)</td>
                    <td class="text-center">@Model.Titels.ElementAt(i)</td>
                    <td class="text-center">@Model.StartDatums.ElementAt(i)</td>
                    <td class="text-center">@Model.OpenPlaatsen.ElementAt(i)</td>
                    @if (Model.Ingeschrevenen.ElementAt(i))
                    {
                        <td class="text-center">Ja</td>
                    }
                    else
                    {
                        <td class="text-center">--</td>
                    }

                    <td>
                        <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@Model.SessieIds.ElementAt(i)">Details</a>
                    </td>
                </tr>
            }
        }


    </table>

    <h4>Afgelopen sessies</h4>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Gastspreker</th>
            <th class="text-center">Titel</th>
            <th class="text-center">Startdatum @($"&") uur</th>
            <th class="text-center">Aanwezig?</th>
            <th class="text-center">Details</th>
        </tr>

        @for (int i = 0; i < Model.Titels.Count(); i++)
        {
            @if (Model.StartDatums.ElementAt(i) < DateTime.Now)
            {
                <tr>
                    <td class="text-center">@Model.GastSprekers.ElementAt(i)</td>
                    <td class="text-center">@Model.Titels.ElementAt(i)</td>
                    <td class="text-center">@Model.StartDatums.ElementAt(i)</td>

                    @if (Model.Aanwezigheden.ElementAt(i))
                    {
                        <td class="text-center">Ja</td>
                    }
                    else
                    {
                        <td class="text-center">--</td>
                    }

                    <td>
                        <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@Model.SessieIds.ElementAt(i)">Details</a>
                    </td>
                </tr>
                }
            }
        </table>
    </body>
</html>
