@model ICollection<dotnet_g36.Models.ViewModels.SessieKalenderViewModel>

@using Microsoft.AspNetCore.Identity
@using dotnet_g36.Models.ViewModels
@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager

@{ViewData["Title"] = "Sessiekalender";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["sluitenMessage"] != null)
            {
                <div class="alert alert-success">@TempData["sluitenMessage"]</div>
            }
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning">@TempData["error"]</div>
            }
        </main>
    </div>

    <!--Dropdown voor keuze van maand-->
    <div class="row">
        <form class="col-md-4 align-top">
            <div class="form-inline">
                <div class="form-group">
                    <label for="maandId"></label>
                    <select onchange="this.form.submit()" id="maandNr" name="maandNr" asp-items=@(ViewData["maanden"] as SelectList) class="form-control"> </select>

                </div>
            </div>
        </form>
        <br />
    </div>
    <br />
    @if (!Model.Where(s => s.StartDatum > DateTime.Now).Count().Equals(0) || !Model.Where(s => !s.Gesloten).Count().Equals(0))
    {

        <h4 class="text-center">Geplande sessies</h4>
        <br />
        <table class="table">
            <tr class="text-light bg-primary">

                <th class="text-center">Gastspreker</th>
                <th class="text-center">Titel</th>
                <th class="text-center">Startdatum @($"&") uur</th>
                <th class="text-center">Aantal Personen</th>
                @if (SignInManager.IsSignedIn(User))
                {
                    <th class="text-center">Ingeschreven</th>
                }
                <th class="text-center">Details</th>
            </tr>
            @foreach (SessieKalenderViewModel sessieKalenderViewModel in Model.Where(s => s.StartDatum > DateTime.Now && !s.Gesloten))
            {
                {
                    <tr>
                        <td class="text-center">@sessieKalenderViewModel.GastSpreker</td>
                        <td class="text-center">@sessieKalenderViewModel.Titel</td>
                        <td class="text-center">@sessieKalenderViewModel.StartDatum.ToString("dd/MM/yyyy HH:mm")</td>
                        <td class="text-center"> @sessieKalenderViewModel.OpenPlaats / @sessieKalenderViewModel.Capaciteit </td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td class="text-center">
                                <form asp-controller="InschrijvenUitschrijven" asp-action="DetailInschrijvenUitschrijven" asp-route-id="@sessieKalenderViewModel.SessieId" method="post">
                                    @if (sessieKalenderViewModel.Ingeschreven)
                                    {
                                        <input checked type="checkbox" onchange="this.form.submit()" id="ingeschreven" value="uitschrijven" style="width: 17px; height: 17px;">
                                    }
                                    else
                                    {
                                        <input type="checkbox" onchange="this.form.submit()" id="uitschrijven" value="inschrijven" style="width: 17px; height: 17px;">
                                    }
                                </form>
                            </td>
                        }
                        <td class="text-center">
                            <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@sessieKalenderViewModel.SessieId">Details</a>
                        </td>
                    </tr>
                }
            }
        </table>
    }
    <br />
    @if (!Model.Where(s => s.StartDatum <= DateTime.Now).Count().Equals(0) || !Model.Where(s => s.Gesloten).Count().Equals(0))
    {
        <h4 class="text-center">Afgelopen sessies</h4>


        <br />
        <table class="table">
            <tr class="text-light bg-primary">

                <th class="text-center">Gastspreker</th>
                <th class="text-center">Titel</th>
                <th class="text-center">Startdatum @($"&") uur</th>
                @if (SignInManager.IsSignedIn(User))
                {
                    <th class="text-center">Aanwezig</th>
                }
                <th class="text-center">Details</th>
            </tr>

            @foreach (SessieKalenderViewModel sessieKalenderViewModel in Model.Where(s => s.StartDatum <= DateTime.Now || s.Gesloten))
            {
                <tr>
                    <td class="text-center">@sessieKalenderViewModel.GastSpreker</td>
                    <td class="text-center">@sessieKalenderViewModel.Titel</td>
                    <td class="text-center">@sessieKalenderViewModel.StartDatum.ToString("dd/MM/yyyy HH:mm")</td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td class="text-center">
                            @if (sessieKalenderViewModel.Aanwezigheid)
                            {
                                <input checked type="checkbox" disabled="disabled" id="Aanwezig" value="NietAanwezig" style="width: 17px; height: 17px;">
                            }
                            else
                            {
                                <input type="checkbox" disabled="disabled" id="NietAanwezig" value="Aanwezig" style="width: 17px; height: 17px;">
                            }
                        </td>
                    }
                    <td class="text-center">
                        <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@sessieKalenderViewModel.SessieId">Details</a>
                    </td>
                </tr>
            }
        </table>
    }
</body>
</html>
