@*@model IEnumerable<dotnet_g36.Models.Domain.Sessie>*@
@model dotnet_g36.Models.ViewModels.SessieKalenderViewModel

@{ViewData["Title"] = "Sessiekalender";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning">@TempData["error"]</div>
            }
        </main>
    </div>
    <!--Dropdown voor keuze van maand-->

    <form>
        <div class="form-inline">
            <div class="form-group">
                <label for="maandId"></label>
                @*<select onchange="this.form.submit()" id="maandId" name="maandId" asp-items="@(ViewData["maanden"] as SelectList)" class="form-control">*@
                    <select onchange="this.form.submit()" id="maandId" name="maandId" asp-items="@Model.Maanden" class="form-control">
                </select>
            </div>
        </div>
    </form>

    <h4>Geplande sessie</h4>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Gastspreker</th>
            <th class="text-center">Titel</th>
            <th class="text-center">Startdatum @($"&") uur</th>
            <th class="text-center">Open plaatsen</th>
            <th class="text-center">Ingeschreven?</th>
            <th class="text-center">Details</th>
        </tr>
        <!-- loop die door de lijst van sessies gaat -->
        @for (int i = 0; i < Model.Titels.Count(); i++)
        {
    <tr>
        <td class="text-center">@Model.GastSprekers.ElementAt(i)</td>
        <td class="text-center">@Model.Titels.ElementAt(i)</td>
        <td class="text-center">@Model.StartDatums.ElementAt(i)</td>
        <td class="text-center">@Model.OpenPlaatsen.ElementAt(i)</td>
        <td class="text-center">@Model.Ingeschrevenen.ElementAt(i)</td>
        @if (Model.Ingeschrevenen.ElementAt(i))
        {
            <td class="text-center"><input type="checkbox" disabled="disabled" checked="checked" readonly="readonly" /></td>
        } else{
            <td class="text-center"><input type="checkbox" disabled="disabled" readonly="readonly" /></td> 
	    }
        <td>
            <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@Model.SessieIds.ElementAt(i)">Details</a>
        </td>
    </tr>
}
                
                <!---->
            @*@foreach (var item in Model)
                    {@if (item.StartDatum >= DateTime.Now)
                        {
            <tr>
                <td class="text-center">@item.Gastspreker</td>
                <td class="text-center">@item.Titel</td>
                <td class="text-center">@item.StartDatum.ToShortDateString() @item.StartDatum.ToShortTimeString()</td>
                <td class="text-center">@item.AantalOpenPlaatsen</td>*@
            <!-- hier moet nog komen of user aanwezig was -->
                @* @foreach (var usersessie in item.UserSessies)
                {
                    @if (usersessie.UserID == huidigeUser.UserID || item.Verantwoordelijke == huidigeUser || item.Hoofdverantwoordelijke == huidigeUser)
                    {

                    }
                    else
                    {*@
                @*<td class="text-center">-</td>*@
                @*<td class="text-center"><input type="checkbox" disabled="disabled" checked="checked" readonly="readonly"/></td>
                }
                }*@
                <!-- Hier moet een link komen naar de details van de sessie -->
                @*<td>
                    <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@item.SessieID">Details</a>
                </td>
                </tr>
                            }
                    }*@
            </table>

    <h4>Afgelopen sessie</h4>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Gastspreker</th>
            <th class="text-center">Titel</th>
            <th class="text-center">Startdatum @($"&") uur</th>
            <th class="text-center">Aanwezig?</th>
            <th class="text-center">Details</th>
        </tr>

        @for (int i = 0; i < Model.Titels.Count(); i++)
        {
            <tr>
                <td class="text-center">@Model.GastSprekers.ElementAt(i)</td>
                <td class="text-center">@Model.Titels.ElementAt(i)</td>
                <td class="text-center">@Model.StartDatums.ElementAt(i)</td>
                <td class="text-center">@Model.OpenPlaatsen.ElementAt(i)</td>
                <td class="text-center">@Model.Aanwezigheden.ElementAt(i)</td>
                @if (Model.Aanwezigheden.ElementAt(i))
                {
                    <td class="text-center"><input type="checkbox" disabled="disabled" checked="checked" readonly="readonly" /></td>
                }
                else
                {
                    <td class="text-center"><input type="checkbox" disabled="disabled" readonly="readonly" /></td>

                }
                <td>
                    <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@Model.SessieIds.ElementAt(i)">Details</a>
                </td>
            </tr>
        }
        <!-- loop die door de lijst van sessies gaat -->
        @*@foreach (var item in Model)
        {@if (item.StartDatum < DateTime.Now)
            {
                <tr>
                    <td class="text-center">@item.Gastspreker</td>
                    <td class="text-center">@item.Titel</td>
                    <td class="text-center">@item.StartDatum.ToShortDateString() @item.StartDatum.ToShortTimeString() </td>*@
                    <!-- Hier moet komen of gebruiker aanwezig was -->
                    @*<td class="text-center">-</td>*@
                    <!-- Hier moet een link komen naar de details van de sessie -->
                    @*<td class="text-center">
                        <a asp-controller="Sessie" asp-action="Detail" asp-route-id="@item.SessieID">Details</a>
                    </td>
                </tr>
            }
    }*@
    </table>

</body>
</html>
